<div class="container py-4 my-4 trainings">
  <h1 class="text-center">Create your Training</h1>
  <form class="container" [formGroup]="trainingsForm" (ngSubmit)="onSubmit()">
    <ng-container formArrayName="exercises">
      <ng-container
        *ngFor="let exercise of exercises.controls; let i = index"
        [formGroupName]="i"
      >
        <span class="numeric-exe">Exercise {{ i + 1 }}</span>
        <div class="training-container">
          <div class="exercise-training">
            <section class="search-exe">
              <input
                class="full-width"
                id="exercise"
                type="text"
                pInputText
                formControlName="exercise"
                placeholder="Exercise Name"
                autocomplete="off"
                required
                (focus)="searchExercise(i)"
                (input)="onFilterExercise(exercise.value.exercise)"
              />
              <div
                class="menu-exercise"
                *ngIf="activeFilterMenu === i"
                [hidden]="filterExercise.length < 1"
              >
                <ng-container *ngFor="let exercise of filterExercise">
                  <button
                    type="button"
                    class="exe-btn"
                    [ngStyle]="{ display: 'block' }"
                    (click)="selectExercise(exercise, i)"
                  >
                    {{ exercise.name | titlecase }}
                  </button>
                </ng-container>
              </div>
            </section>
            <p-floatLabel>
              <p-inputNumber
                id="reps"
                type="number"
                inputId="integeronly"
                formControlName="reps"
                required
              />
              <label for="reps">Reps</label>
            </p-floatLabel>
            <p-floatLabel>
              <p-inputNumber
                id="series"
                type="number"
                inputId="integeronly"
                formControlName="series"
                required
              />
              <label for="series">Series</label>
            </p-floatLabel>
            <p-floatLabel>
              <p-inputMask
                id="rest"
                mask="99:99"
                formControlName="rest"
                slotChar="mm:ss"
                required
              />
              <label for="rest">Rest</label>
            </p-floatLabel>
            <p-floatLabel>
              <p-inputNumber
                id="weight"
                inputId="minmaxfraction"
                formControlName="weight"
                suffix=" KG"
                mode="decimal"
                [minFractionDigits]="1"
                [maxFractionDigits]="1"
                [useGrouping]="false"
                [min]="0"
                [max]="999.9"
                [maxlength]="8"
              />
              <label for="weigth">Weight</label>
            </p-floatLabel>
          </div>
          <div class="btn-training">
            <app-fitness-button
              type="button"
              icon="pi pi-save"
              [rounded]="true"
              [raised]="true"
              [severity]="'success'"
              [disabled]="exercise.invalid || exercise.disabled"
              (btnEvent)="saveExercise(i)"
            ></app-fitness-button>
            <app-fitness-button
              type="button"
              icon="pi pi-trash"
              [rounded]="true"
              [raised]="true"
              [disabled]="exercise.disabled"
              [color]="'ACCENT'"
              (btnEvent)="deleteExercise(i)"
            ></app-fitness-button>
            <app-fitness-button
              type="button"
              icon="pi pi-pen-to-square"
              [rounded]="true"
              [raised]="true"
              [disabled]="exercise.invalid || exercise.enabled"
              (btnEvent)="editExercise(i)"
            ></app-fitness-button>
          </div>
        </div>
      </ng-container>
      <app-fitness-button
        type="button"
        [icon]="'pi pi-plus'"
        [rounded]="true"
        [raised]="true"
        [hidden]="hideBtn"
        [color]="'PRIMARY'"
        (click)="addExercise()"
      ></app-fitness-button>
    </ng-container>
    <div>
      <app-fitness-button
        type="submit"
        [disabled]="!activeSubmit"
        [title]="'Submit'"
        [color]="'PRIMARY'"
      ></app-fitness-button>
    </div>
  </form>
</div>

<!-- <p-dialog
  header="Select the exercise"
  [modal]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [position]="'center'"
  [(visible)]="showDialog"
>
</p-dialog> -->
<p-toast (onClose)="redirect()" />
<p-confirmDialog />
