.trainings {
  box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  border-radius: 12px;
  max-width: 90dvw;
}

.t-form {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.numeric-exe {
  display: block;
  margin: 1rem 0 5px 5px;
}

.training-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.exercise-training,
.btn-training {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.btn-training {
  justify-content: space-between;
}

.menu-exercise {
  margin-top: -5px;
  margin-bottom: 1rem;
  border-right: 0.5px solid var(--primary-text);
  border-left: 0.5px solid var(--primary-text);
  border-bottom: 0.5px solid var(--primary-text);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 250px;
  height: fit-content;
  max-height: 150px;
  overflow-y: scroll;
  padding: 5px;
  & > button {
    margin: 6px 0;
    width: 100%;
    text-align: left;
    border-radius: 12px;
    border-color: var(--primary-text);
    background-color: #fff;
    color: var(--primary-text);
  }
  & > button:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-color: var(--accent-color);
  }
  &:hover {
    border-right: 0.5px solid var(--primary-color);
    border-left: 0.5px solid var(--primary-color);
    border-bottom: 0.5px solid var(--primary-color);
    & > button {
      border-color: var(--primary-color);
    }
  }
}

.menu-exercise::-webkit-scrollbar {
  display: none;
}

:host ::ng-deep {
  .p-inputtext {
    width: 125px;
  }

  .full-width {
    width: 100%;
  }

  @media only screen and (width < 375px) {
    .t-form {
      padding: 0;
    }
    .btn-training {
      margin: 1rem auto 0;
    }

    .submit {
      text-align: center;
    }

    .p-inputtext{
      width: initial
    }
  }
}
