<app-fitness-button
  *ngIf="viewScreen < 1024"
  class="mobile-btn"
  [icon]="'pi pi-angle-left'"
  [raised]="true"
  [rounded]="true"
  [color]="'PRIMARY'"
  (btnEvent)="showSideMenu()"
></app-fitness-button>
<menu
  *ngIf="viewScreen >= 1024 || (showMenu && viewScreen < 1024)"
  class="side-bar"
>
  <div class="logo">
    <img src="../../assets/images/logo.svg" alt="logo" />
  </div>
  <nav>
    <ul class="p-0 m-0 text-center">
      <ng-container *ngFor="let button of buttons">
        <app-fitness-button
          [title]="button.title"
          [rounded]="true"
          [raised]="true"
          [size]="'small'"
          [urlLink]="button.urlLink"
          [color]="button.class"
          (btnEvent)="onActiveSection(button.id)"
        ></app-fitness-button>
      </ng-container>
    </ul>
  </nav>
  <div class="text-center p-0 m-0 align-self-end">
    <app-fitness-button
      [title]="'LOGOUT'"
      [rounded]="true"
      [raised]="true"
      [color]="'ACCENT'"
      [size]="'small'"
      (btnEvent)="onLogout()"
    ></app-fitness-button>
  </div>
</menu>
