.side-bar {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  align-items: center;
  padding: 2rem 1rem;
  position: fixed;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.mobile-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 10;
  //! VEDERE SE RELATIVE NECESSARIO
}

@media only screen and (width < 1024px) {
  .side-bar {
    margin: 0.5rem;
    background-color: rgba($color: #000000, $alpha: 0.85);
    border-radius: 12px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
    z-index: 5;
  }
}
@media only screen and (min-width: 1024px) {
  .side-bar {
    max-width: 15rem;
    border-right: 2px solid var(--primary-color);
    box-shadow: 2px 0px rgba(59, 130, 246, 0.5);
  }
}
