.side-bar {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 1fr;
  align-items: center;
  padding: 2rem 1rem;
  position: fixed;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: var(--background);
}

.mobile-btn {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 10;
  //! VEDERE SE RELATIVE NECESSARIO
}

.logo {
  text-align: center;
  & img {
    width: 125px;
    aspect-ratio: 1 / 1;
  }
}

@media only screen and (width < 1024px) {
  .side-bar {
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 5px var(--background);
    z-index: 5;
  }
}
@media only screen and (min-width: 1024px) {
  .side-bar {
    max-width: 15rem;
    border-right: 2px solid var(--primary-color);
    box-shadow: 2px 0px var(--shadow-primary);
  }
}
