<span [ngStyle]="{ display: 'block', margin: '5px 0 10px 5px' }"
  >Exercise {{ i + 1 }}</span
>
<div class="training-container">
  <section class="search-exe">
    <input
      class="full-width"
      id="exercise"
      type="text"
      pInputText
      formControlName="exercise"
      placeholder="Exercise Name"
      (focus)="searchExercise(i)"
      (input)="onFilterExercise(exercise.value.exercise)"
    />
    <div
      class="menu-exercise"
      *ngIf="activeFilterMenu === i"
      [hidden]="filterExercise.length < 1"
    >
      <ng-container *ngFor="let exercise of filterExercise">
        <button
          type="button"
          class="exe-btn"
          [ngStyle]="{ display: 'block' }"
          (click)="selectExercise(exercise, i)"
        >
          {{ exercise.name | titlecase }}
        </button>
      </ng-container>
    </div>
  </section>
  <p-floatLabel>
    <p-inputNumber
      id="reps"
      type="number"
      inputId="integeronly"
      formControlName="reps"
    />
    <label for="reps">Reps</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-inputNumber
      id="series"
      type="number"
      inputId="integeronly"
      formControlName="series"
    />
    <label for="series">Series</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-inputMask
      id="rest"
      mask="99:99"
      formControlName="rest"
      slotChar="mm:ss"
    />
    <label for="rest">Rest</label>
  </p-floatLabel>
  <p-floatLabel>
    <p-inputNumber
      id="weight"
      inputId="minmaxfraction"
      formControlName="weight"
      suffix=" KG"
      mode="decimal"
      [minFractionDigits]="1"
      [maxFractionDigits]="1"
      [useGrouping]="false"
      [min]="0"
      [max]="999.9"
      [maxlength]="8"
    />
    <label for="weigth">Weight</label>
  </p-floatLabel>

  <app-fitness-button
    type="button"
    icon="pi pi-save"
    [rounded]="true"
    [raised]="true"
    [severity]="'success'"
    (btnEvent)="saveExercise(i)"
  ></app-fitness-button>
  <app-fitness-button
    type="button"
    icon="pi pi-trash"
    [rounded]="true"
    [raised]="true"
    [severity]="'danger'"
    (btnEvent)="deleteExercise(i)"
  ></app-fitness-button>
  <app-fitness-button
    type="button"
    icon="pi pi-pen-to-square"
    [rounded]="true"
    [raised]="true"
    (btnEvent)="editExercise(i)"
  ></app-fitness-button>
</div>
