<div class="container-fluid g-0">
  <app-fitness-side-menu></app-fitness-side-menu>
  <div class="container cnb py-5 border-500 border-2">
    <h1 class="text-center roboto-bold font-big m-0">YOUR PROGRAMS</h1>
    <p class="text-center m-0">Limits are often just illusions!</p>
    <div class="program-container">
      <ng-container *ngFor="let program of programs">
        <p-card [header]="program.name">
          <p
            [innerHTML]="
              '<b>Start: </b> ' +
              program.date_start +
              ' </br> ' +
              '<b>End: </b> ' +
              program.date_end
            "
          ></p>
          <app-fitness-button
            [title]="'View Program'"
            [size]="'small'"
            [urlLink]="['/program', program.id]"
          ></app-fitness-button>
          <p-speedDial [model]="speedItems" direction="down" />
        </p-card>
      </ng-container>
    </div>
  </div>
</div>
