.program-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem 3rem;
  margin: 0 auto;
}

.no-programs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45dvh;
  & > * {
    animation-name: pulsation;
    animation-duration: 0.85s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes pulsation {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

:host ::ng-deep {
  .new-program p {
    margin: 1rem 0;
    text-align: center;
  }

  .p-card .p-card-content {
    padding: 0.75rem 0;
  }

  .p-card-body {
    text-align: center;
    position: relative;
  }

  .delete {
    .p-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 2.5rem;
      height: 2.5rem;
    }
    .p-button-icon {
      font-size: 1rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    .new-program p {
      text-align: left;
    }
  }
}
