<div class="exercise-box">
  <h5 class="text-center">
    {{ exercise.name | titlecase }}
  </h5>
  <img
    *ngIf="!noImage"
    [src]="exercise.gifUrl"
    [alt]="exercise.name"
    width="200px"
  />
  <div class="no-image-container" *ngIf="noImage">
    <span><b>Target: </b>{{ exercise.target | titlecase }}</span>
    <span><b>Body Part: </b>{{ exercise.bodyPart | titlecase }}</span>
    <span><b>Equipment: </b>{{ exercise.equipment | titlecase }}</span>
    <span><b>Secondary Muscles: </b>{{ exercise.secondaryMuscles }}</span>
  </div>

  <app-fitness-button
    *ngIf="!showMoreInfoExercise"
    [text]="true"
    [link]="true"
    [title]="'Show more...'"
    [color]="'ONLYCOLOR'"
    (btnEvent)="onShowMore()"
  ></app-fitness-button>
</div>

<p-dialog
  [(visible)]="showMoreInfoExercise"
  [header]="exercise.name | titlecase"
  [modal]="true"
  [style]="{ width: '35rem' }"
>
  <div class="dialog-container">
    <app-fitness-button
      *ngIf="exercise.id! > 1323"
      class="edit-btn"
      [rounded]="true"
      [raised]="true"
      [icon]="'pi pi-pen-to-square'"
      (btnEvent)="onEditExercise(exercise)"
    ></app-fitness-button>
    <app-fitness-button
      *ngIf="exercise.id! > 1323"
      class="delete-btn"
      severity="danger"
      [rounded]="true"
      [raised]="true"
      [icon]="'pi pi-trash'"
      (btnEvent)="alertDialogue($event, exercise)"
    ></app-fitness-button>
    <div class="flex flex-column text-sm">
      <img
        *ngIf="!noImage"
        [src]="exercise.gifUrl"
        [alt]="exercise.name"
        width="225px"
      />
      <span><b>Target: </b>{{ exercise.target | titlecase }}</span>
      <span><b>Body Part: </b>{{ exercise.bodyPart | titlecase }}</span>
      <span><b>Equipment: </b>{{ exercise.equipment | titlecase }}</span>
      <span><b>Secondary Muscles: </b>{{ exercise.secondaryMuscles }}</span>
    </div>
    <div class="flex flex-column text-sm text-justify line-height-2">
      <b class="align-self-start">Instructions:</b>
      <span [innerHTML]="exercise.instructions"></span>
    </div>
  </div>
</p-dialog>
<p-toast key="success" (onClose)="onCloseToast(exercise)" />
<p-toast key="reject" />
<p-confirmDialog />
