<div class="exercise-box">
  <h5 class="text-center">
    {{ exercise.name | titlecase }} - {{ exercise.id }}
  </h5>
  <img
    [src]="exercise.gifUrl ? exercise.gifUrl : '.'"
    [alt]="exercise.name"
    width="200px"
  />

  <app-fitness-button
    *ngIf="!showMoreInfoExercise"
    [text]="true"
    [link]="true"
    [title]="'Show more...'"
    (btnEvent)="onShowMore($event)"
  ></app-fitness-button>
</div>

<p-dialog
  [(visible)]="showMoreInfoExercise"
  [header]="exercise.name | titlecase"
  [modal]="true"
  [style]="{ width: '35rem' }"
>
  <div class="dialog-container">
    <app-fitness-button
      *ngIf="exercise.id! > 1323"
      [icon]="'pi pi-pen-to-square'"
      (btnEvent)="onEditExercise(exercise)"
    ></app-fitness-button>
    <div class="flex flex-column text-sm">
      <img [src]="exercise.gifUrl" [alt]="exercise.name" width="225px" />
      <span><b>Target: </b>{{ exercise.target | titlecase }}</span>
      <span><b>Body Part: </b>{{ exercise.bodyPart | titlecase }}</span>
      <span><b>Equipment: </b>{{ exercise.equipment | titlecase }}</span>
      <span><b>Secondary Muscles: </b>{{ exercise.secondaryMuscles }}</span>
    </div>
    <div class="flex flex-column text-sm text-justify line-height-2">
      <b class="align-self-start">Instructions:</b>
      <span [innerHTML]="exercise.instructions"></span>
    </div>
  </div>
</p-dialog>
