.exercise-box {
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 0 2px 0.5px var(--primary-color);
  min-height: 400px;
  transition: box-shadow 1s ease;
}

.info-exercise {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.exercise-box:hover {
  box-shadow: 0 0 20px 0.5px var(--dark-primary);
}

.no-image-container {
  display: flex;
  flex-direction: column;
}

// TODO: INSERIRE SENZA
:host ::ng-deep {
  .p-button:not(.p-dialog-footer .p-button) {
    padding: 0;
    font-size: 0.85rem;
  }

  .p-dialog {
    max-width: min(90%, 35rem);
    position: relative;
    & .edit-btn .p-button {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 2rem;
      height: 2rem;
    }
    & .delete-btn .p-button {
      position: absolute;
      bottom: 15px;
      left: 15px;
      width: 2rem;
      height: 2rem;
    }
  }

  .p-dialog-title {
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  .dialog-container {
    flex-wrap: wrap;
  }
}
