<span [ngSwitch]="link">
  <p *ngSwitchCase="true">
    <p-button
      [routerLink]="urlLink"
      [label]="title"
      [outlined]="outline"
      [text]="text"
      [rounded]="rounded"
      [ngClass]="classes"
      (onClick)="onClickBtn($event)"
    >
    </p-button>
    <!-- <a
      [routerLink]="urlLink"
      [target]="target"
      rel="noopener noreferrer"
      class="p-button font-bold"
      >{{ title }}</a
    > -->
  </p>
  <p *ngSwitchDefault>
    <p-button
      [label]="title"
      [icon]="icon"
      [iconPos]="iconPosition"
      [loading]="loading"
      [rounded]="rounded"
      [raised]="raised"
      [outlined]="outline"
      [size]="size"
      [badge]="badgeNumber"
      [disabled]="disabled"
      (onClick)="onClickBtn($event)"
      [type]="type"
      [routerLink]="urlLink"
      [ngClass]="classes"
    />
  </p>
</span>
