.filter-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

:host ::ng-deep {
  .p-inputtext {
    width: calc(250px + 1vw);
  }
  .p-dropdown {
    width: calc(250px + 1vw);
  }
  p-dropdown {
    width: initial;
  }

  @media only screen and (max-width: 768px) {
    .p-inputtext,
    .p-dropdown,
    p-dropdown {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .filter-container {
    width: 100%;
    justify-content: flex-start;
  }
}
