<div class="full-height">
  <app-fitness-header></app-fitness-header>
  <div class="container hero container-height">
    <div class="col-12 md:col-6 xl:col-5">
      <h1 class="font-big roboto-bold">
        <span>The only app that</span>
        <strong> gets you in shape while tracking</strong>
      </h1>
      <div *ngIf="viewScreen > 768" class="btn-container">
        <app-fitness-button
          [title]="'ACCEDI'"
          [rounded]="true"
          [raised]="true"
          [urlLink]="'auth/login'"
        ></app-fitness-button>
        <app-fitness-button
          [title]="'REGISTRATI'"
          [rounded]="true"
          [raised]="true"
          [urlLink]="'auth/signup'"
        ></app-fitness-button>
      </div>
    </div>
    <div class="col-12 md:col-6 xl:col-7">
      <img src="" alt="" class="" />
    </div>
    <div *ngIf="viewScreen <= 768" class="btn-container">
      <app-fitness-button
        [title]="'ACCEDI'"
        [rounded]="true"
        [raised]="true"
        [urlLink]="'auth/login'"
      ></app-fitness-button>
      <app-fitness-button
        [title]="'REGISTRATI'"
        [rounded]="true"
        [raised]="true"
        [urlLink]="'auth/signup'"
      ></app-fitness-button>
    </div>
  </div>
  <app-fitness-footer></app-fitness-footer>
</div>
