<main class="main-container">
  <app-fitness-header></app-fitness-header>
  <div class="container hero-container container-height">
    <div class="hero-child-1">
      <h1 class="font-big roboto-bold">
        <span>The only app that</span>
        <strong> gets you in shape while tracking</strong>
      </h1>
      <div *ngIf="viewScreen > 768" class="btn-container">
        <app-fitness-button
          [title]="'LOGIN'"
          [rounded]="true"
          [raised]="true"
          [urlLink]="'auth/login'"
          [color]="'PRIMARY'"
        ></app-fitness-button>
        <app-fitness-button
          [title]="'SIGNUP'"
          [rounded]="true"
          [raised]="true"
          [urlLink]="'auth/signup'"
          [color]="'PRIMARY'"
        ></app-fitness-button>
      </div>
    </div>
    <div class="hero-child-2">
      <img
        src="assets/images/journey.svg"
        alt="mockup of gym trainer"
        class="hero-image"
      />
    </div>
    <div *ngIf="viewScreen <= 768" class="btn-container">
      <app-fitness-button
        [title]="'LOGIN'"
        [rounded]="true"
        [raised]="true"
        [urlLink]="'auth/login'"
      ></app-fitness-button>
      <app-fitness-button
        [title]="'SIGNUP'"
        [rounded]="true"
        [raised]="true"
        [urlLink]="'auth/signup'"
      ></app-fitness-button>
    </div>
  </div>
  <app-fitness-footer></app-fitness-footer>
</main>
