.full-height {
  height: calc(100vh - 9.3rem);
}

.btn-container{
  display: flex;
  padding: 1.5rem 0;
  gap: 2rem
}

.font-big{
  span{
    font-weight: 300;
    text-wrap: wrap;
  }
  strong{
    font-weight: 700;
  }
}

