<app-fitness-auth-structure-html>
  <div class="container log-pages">
    <form
      [formGroup]="signupForm"
      class="text-center"
      (ngSubmit)="onSignupSubmit(signupForm)"
    >
      <span class="title">Signup and grind</span>
      <p-floatLabel>
        <input
          pInputText
          id="username"
          formControlName="username"
          [class]="
            usernameControl.invalid &&
            (usernameControl.dirty || usernameControl.touched)
              ? 'ng-dirty ng-invalid'
              : ''
          "
        />
        <label for="username">Username</label>
      </p-floatLabel>
      <small
        *ngIf="
          usernameControl.invalid &&
          (usernameControl.dirty || usernameControl.touched)
        "
        class="p-error"
        >* Please fill the field with a username</small
      >
      <p-floatLabel>
        <input
          pInputText
          id="email"
          formControlName="email"
          [class]="
            emailControl.invalid && (emailControl.dirty || emailControl.touched)
              ? 'ng-dirty ng-invalid'
              : ''
          "
        />
        <label for="email">Email</label>
      </p-floatLabel>
      <small
        *ngIf="
          emailControl.invalid && (emailControl.dirty || emailControl.touched)
        "
        class="p-error"
        >* Please fill the field with a valid email</small
      >
      <p-floatLabel>
        <p-password
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [class]="
            passwordControl.invalid &&
            (passwordControl.dirty || passwordControl.touched)
              ? 'ng-dirty ng-invalid'
              : ''
          "
        />
        <label for="password">Password</label>
      </p-floatLabel>
      <small
        *ngIf="
          passwordControl.invalid &&
          (passwordControl.dirty || passwordControl.touched)
        "
        class="p-error"
        >* Please fill the field with a secret password</small
      >
      <app-fitness-button
        [title]="'Already signed. Login now!'"
        [link]="true"
        [urlLink]="'/auth/login'"
        [color]="'ONLYCOLOR'"
      ></app-fitness-button>

      <app-fitness-button
        [title]="'SIGNUP'"
        [raised]="true"
        [type]="'submit'"
        [color]="'PRIMARY'"
        [disabled]="signupForm.invalid"
      ></app-fitness-button>
      <p-toast position="top-center" key="success" />
      <p-toast position="top-center" key="error" />
    </form>
  </div>
</app-fitness-auth-structure-html>
