.signup-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.full-height{
    height: calc(100vh - 9.3rem);
}

::ng-deep{
    .p-button{
        width: 100%;
    }
}

