<app-fitness-header></app-fitness-header>
<div class="container log-pages container-height">
  <form
    [formGroup]="loginForm"
    class="text-center"
    (ngSubmit)="onLoginSubmit(loginForm)"
  >
    <p-floatLabel>
      <input
        pInputText
        id="username"
        formControlName="username"
        [class]="
          usernameControl.invalid &&
          (usernameControl.dirty || usernameControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
      <label for="username">Username</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        pInputText
        id="email"
        formControlName="email"
        [class]="
          emailControl.invalid && (emailControl.dirty || emailControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
      <label for="email">Email</label>
    </p-floatLabel>
    <p-floatLabel>
      <p-password
        formControlName="password"
        [feedback]="false"
        [toggleMask]="true"
        [class]="
          passwordControl.invalid &&
          (passwordControl.dirty || passwordControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
      <label for="password">Password</label>
    </p-floatLabel>
    <app-fitness-button
      [title]="'Not signup yet. Go now'"
      [link]="true"
      [urlLink]="'/auth/signup'"
    ></app-fitness-button>

    <!-- ! ADD READONLY -->
    <app-fitness-button
      [title]="'LOGIN'"
      [raised]="true"
      [type]="'submit'"
      [disabled]="loginForm.invalid"
    ></app-fitness-button>
  </form>
</div>
<app-fitness-footer></app-fitness-footer>
