<div class="container form-container">
  <form [formGroup]="exercisesForm">
    <span [ngSwitch]="action">
      <h2 *ngSwitchCase="'CREATE'">Create New Exercise</h2>
      <h2 *ngSwitchCase="'UPDATE'">Update Exercise</h2>
    </span>
    <p-floatLabel>
      <input
        name="name"
        formControlName="name"
        pInputText
        id="name"
        [class]="
          nameControl.invalid && (nameControl.dirty || nameControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
        [required]="true"
      />
      <label for="exerciseName">Exercise Name</label>
    </p-floatLabel>
    <div class="drop-container">
      <p-dropdown
        name="target"
        placeholder="Select target"
        formControlName="target"
        optionLabel="target"
        [showClear]="true"
        [options]="targets"
        [class]="
          targetControl.invalid &&
          (targetControl.dirty || targetControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
        [required]="true"
      />
      <p-dropdown
        inputId="bodyPart"
        name="bodyPart"
        placeholder="Select body part"
        formControlName="bodyPart"
        optionLabel="bodyPart"
        [showClear]="true"
        [options]="bodyParts"
        [class]="
          bodyPartControl.invalid &&
          (bodyPartControl.dirty || bodyPartControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
        [required]="true"
      />
    </div>
    <textarea
      name="instructions"
      placeholder="Optional instructions..."
      rows="3"
      cols="30"
      pInputTextarea
      formControlName="instructions"
      pTooltip="Separate each phrases with a period"
      tooltipPosition="right"
      tooltipEvent="focus"
    ></textarea>

    <div class="drop-container">
      <p-multiSelect
        name="secondaryMuscles"
        placeholder="Optional muscles"
        formControlName="secondaryMuscles"
        optionLabel="muscle"
        [options]="secondaryMuscles"
        [showToggleAll]="false"
        [showClear]="true"
        [showHeader]="false"
        [filter]="false"
      />
      <p-dropdown
        name="equipment"
        placeholder="Optional equipment"
        formControlName="equipment"
        optionLabel="equipment"
        [showClear]="true"
        [options]="equipments"
      />
    </div>
    <div class="btn-container">
      <div>
        <app-fitness-button
          [title]="'Go Back'"
          [outline]="true"
          [urlLink]="'/exercises'"
          [color]="'SECONDARY'"
        ></app-fitness-button>
      </div>
      <div>
        <span [ngSwitch]="action">
          <app-fitness-button
            *ngSwitchCase="'CREATE'"
            [type]="'submit'"
            [title]="'Save'"
            [color]="'PRIMARY'"
            [disabled]="exercisesForm.invalid"
            (btnEvent)="onSubmitNewExercise(exercisesForm)"
          ></app-fitness-button>
          <app-fitness-button
            *ngSwitchCase="'UPDATE'"
            [type]="'submit'"
            [title]="'Update'"
            [color]="'PRIMARY'"
            [disabled]="exercisesForm.invalid"
            (btnEvent)="onSubmitUpdateExercise(exercisesForm)"
          ></app-fitness-button>
        </span>
      </div>
    </div>
  </form>
</div>
<p-toast position="center" key="success" (onClose)="moveToExerciseList()" />
<p-toast position="center" key="reject" />
