<form>
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    pInputText
    [(ngModel)]="training.exercise!.name"
    [disabled]="true"
  />
  <label for="reps">Reps:</label>
  <p-inputNumber
    type="number"
    id="reps"
    name="reps"
    inputId="integeronly"
    [(ngModel)]="training.reps"
    [disabled]="readOnly"
  />
  <label for="series">Series:</label>
  <p-inputNumber
    type="number"
    name="series"
    id="series"
    inputId="integeronly"
    [(ngModel)]="training.series"
    [disabled]="readOnly"
  />
  <span class="timer-container">
    <label for="rest">Rest:</label>
    <input
      type="time"
      name="rest"
      id="rest"
      pInputText
      [(ngModel)]="training.rest"
      [disabled]="readOnly"
    />
    <app-fitness-button
      class="timer"
      size="small"
      icon="pi pi-stopwatch"
      [rounded]="true"
      [raised]="true"
    ></app-fitness-button>
  </span>
  <label for="weight">Weight:</label>
  <p-inputNumber
    type="number"
    name="weight"
    id="weight"
    inputId="minmaxfraction"
    suffix=" KG"
    mode="decimal"
    [minFractionDigits]="1"
    [maxFractionDigits]="1"
    [useGrouping]="false"
    [max]="999.9"
    [maxlength]="8"
    [(ngModel)]="training.weight"
    [disabled]="readOnly"
  />
  <label for="maxWeightRM">Max Weight RM:</label>
  <p-inputNumber
    type="number"
    name="maxWeightRM"
    id="maxWeightRM"
    inputId="integeronly"
    [(ngModel)]="training.weight_max_rm"
    [disabled]="readOnly"
  />
  <!--   <label for="video">Video Tutorial:</label>
  <input
    type="text"
    name="video"
    id="video"
    pInputText
    [(ngModel)]="training.video"
    [disabled]="true"
  /> -->
</form>
