form {
  border: 1px solid red;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /*   & > * {
    border-right: 1px solid red; //? vedi sotto + impo
  } */
}

.timer-container{
  display: flex;
  align-items: center;
}

:host ::ng-deep {
  form {
    .p-inputtext:first-of-type {
      max-width: 150px;
    }
    .p-inputtext:not(.p-inputtext:first-of-type),
    .p-inputnumber-input {
      width: 100px;
    }
     
    .p-inputtext[type='time'][name='rest']{
      width: fit-content; 
    }
    .ng-star-inserted {
      margin: 0;
    }
    .timer .p-button {
      width: 2rem;
      height: 2rem;
      aspect-ratio: 1;
    }
  }
}
