.form-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  padding: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba($color: black, $alpha: 0.5);
}

:host ::ng-deep {
  form {
    & .p-button,
    .p-dropdown, .p-multiselect {
      width: 250px;
    }
    & .p-float-label .p-inputtext {
      width: 100%;
    }
  }
}
