<div class="container form-container">
  <form [formGroup]="exercisesForm" (ngSubmit)="onSubmit(exercisesForm)">
    <span [ngSwitch]="action">
      <h2 *ngSwitchCase="'CREATE'">Create New Exercise</h2>
      <h2 *ngSwitchCase="'UPDATE'">Update Exercise</h2>
    </span>
    <p-floatLabel>
      <input
        name="exerciseName"
        formControlName="exerciseName"
        pInputText
        id="exerciseName"
        [class]="
          nameControl.invalid && (nameControl.dirty || nameControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
      <label for="exerciseName">Exercise Name</label>
    </p-floatLabel>
    <div class="flex gap-5">
      <p-dropdown
        inputId="targets"
        name="target"
        placeholder="Select target"
        formControlName="target"
        optionLabel="target"
        [options]="targets"
        [class]="
          targetControl.invalid &&
          (targetControl.dirty || targetControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
      <p-dropdown
        inputId="bodyPart"
        name="bodyPart"
        placeholder="Select body part"
        formControlName="bodyPart"
        optionLabel="bodyPart"
        [options]="bodyParts"
        [class]="
          bodyPartControl.invalid &&
          (bodyPartControl.dirty || bodyPartControl.touched)
            ? 'ng-dirty ng-invalid'
            : ''
        "
      />
    </div>
    <textarea
      name="instructions"
      placeholder="Optional instructions..."
      rows="3"
      cols="30"
      pInputTextarea
      formControlName="instructions"
      pTooltip="Separate each phrases with a period"
      tooltipPosition="right"
      tooltipEvent="focus"
    ></textarea>
    <!-- ! SECONDARY MUSCLES + EQUIPMENT -->
    <div class="flex gap-5 mt-5">
      <app-fitness-button
        [title]="'Go Back'"
        [outline]="true"
        [urlLink]="'/exercises'"
      ></app-fitness-button>
      <app-fitness-button [title]="'Save'"></app-fitness-button>
      <!-- [disabled]="exercisesForm.invalid" -->
    </div>
  </form>
</div>
