.setting-container {
  max-width: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  border-radius: 12px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px 0 var(--secondary-text);
}

:host ::ng-deep {
  .edit-btn .p-button.p-button-icon-only {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 15px;
  }
  .danger-btn .p-button {
    width: 100%;
  }

  .p-toast {
    width: min(90%, 35rem);
  }
}
