<div class="container-fluid g-0">
  <app-fitness-side-menu></app-fitness-side-menu>
  <div class="container cnb py-5 border-500 border-2">
    <h1 class="text-center roboto-bold font-big m-0">Settings</h1>
    <section class="setting-container">
      <!-- !COMPONENTE SPECIFICO -->
      <span class="align-self-start">Your Account</span>
      <input
        type="text"
        pInputText
        [(ngModel)]="userLogged.username"
        [disabled]="!isEditable"
      />
      <input
        type="text"
        pInputText
        [(ngModel)]="userLogged.email"
        [disabled]="!isEditable"
      />

      <app-fitness-button
        *ngIf="!isEditable"
        class="align-self-end edit-btn"
        [rounded]="true"
        [raised]="true"
        [icon]="'pi pi-user-edit'"
        (btnEvent)="editAccount()"
      ></app-fitness-button>
      <ng-container *ngIf="isEditable">
        <div
          class="d-flex justify-content-between"
          [ngClass]="isEditable ? 'mt-3' : ''"
        >
          <app-fitness-button
            [title]="'Cancel'"
            [outline]="true"
            [raised]="true"
            [size]="'small'"
            (btnEvent)="cancelEdit()"
          ></app-fitness-button>
          <app-fitness-button
            [title]="'Save'"
            [raised]="true"
            [size]="'small'"
            (btnEvent)="saveEdit()"
          ></app-fitness-button>
        </div>
        <p-divider />
        <app-fitness-button
          class="danger-btn"
          severity="danger"
          [title]="'DELETE ACCOUNT'"
          (btnEvent)="alertDialogue($event)"
        ></app-fitness-button>
      </ng-container>
    </section>
  </div>
</div>
<p-toast key="success" (onClose)="onCloseToast()" />
<p-toast key="reject" />
<p-confirmDialog />
